# Importing Libraries

In [11]:
import pandas as pd 
import numpy as np
from pandasql import sqldf
import seaborn as sns
import random

# Loading DataFrame

In [2]:
# Loeading the dataset from UCI repository
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx"
df = pd.read_excel(url)

In [3]:
# Explorting the DataFrame 
df.head(n=5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
# Checking DataFrame column types 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [6]:
# Percentage of NaN records in the DataFrame 
def nan_check(df):
    nan_count = df.isnull().sum()
    nan_percentage = df.isna().sum() / len(df) * 100
    return nan_count, nan_percentage

# Calling the function and printing the results
nan_percentages = nan_check(df)
print(nan_percentages)

(InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64, InvoiceNo       0.000000
StockCode       0.000000
Description     0.268311
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.926694
Country         0.000000
dtype: float64)

# Data Exploration & Preprocessing

In [14]:
# Checking min/max of CustomerIDs 
customer_id_min = df['CustomerID'].min()
customer_id_max = df['CustomerID'].max()

print("Minimum CustomerID is:", customer_id_min,"Maximum CustomerID is:", customer_id_max)

Minimum CustomerID is: 12346.0 Maximum CustomerID is: 18287.0

In [15]:
# Function to generate a random number above 18287
def generate_random_id():
    return random.randint(18288, 99999)

# Applying the function to NaN values in the 'CustomerID' column
df['CustomerID'] = df['CustomerID'].apply(lambda x: generate_random_id() if pd.isna(x) else x)

# Changing the datatype to int64
df['CustomerID'] = df['CustomerID'].astype('int64')

In [16]:
# Data Validation - Checking Percentage of NaN records in the DataFrame 
def nan_check(df):
    nan_count = df.isnull().sum()
    nan_percentage = df.isna().sum() / len(df) * 100
    return nan_count, nan_percentage

# Calling the function and printing the results
nan_percentages = nan_check(df)
print(nan_percentages)

(InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
dtype: int64, InvoiceNo      0.000000
StockCode      0.000000
Description    0.268311
Quantity       0.000000
InvoiceDate    0.000000
UnitPrice      0.000000
CustomerID     0.000000
Country        0.000000
dtype: float64)

In [ ]:
# Data preprocessiong function 
def df_preprocessing(df):

    # Converting 'InvoiceDate' to datetime format
    df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

    # Extracting year and month from 'InvoiceDate' and creating new columns 'YearKey' and 'MonthKey'
    df['YearKey'] = df['InvoiceDate'].dt.year
    df['MonthKey'] = df['InvoiceDate'].dt.month
    df['DayKey'] = df['InvoiceDate'].dt.day

    # Creating Total Amount column
    df["TotalAmount"] = df["Quantity"] * df["UnitPrice"]

    return df

df = df_preprocessing(df)

In [7]:
df.head(n=5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [9]:
# Checking unique countries 
df["Country"].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)